<div class="row" *ngIf="product.isAvailable">
    <div class="col-2">
      <img [src]="product.img" class="img-fluid">
    </div>
    <div class="col-8">
      <div class="div-margin">{{product.id}}</div>
      <div class="div-margin">{{product.name}}</div>
      <div class="div-margin">{{product.price.value|discount| currency:product.price.code}}</div>
      <button (click)="handleBuy($event)" class="btn btn-dark">Buy</button>
    </div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" (click)="handleTabChnage(1)" [ngClass]="{'nav-link':true,'active':isTabSelected(1)}" href="#">Description</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="handleTabChnage(2)" [ngClass]="{'nav-link':true,'active':isTabSelected(2)}" href="#">Specification</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="handleTabChnage(3)" [ngClass]="{'nav-link':true,'active':isTabSelected(3)}"
          >Reviews</a
        >
      </li>
    </ul>
    <div *ngIf="isTabSelected(1)">{{product.description}}</div>
    <div *ngIf="isTabSelected(2)">{{product.specification}}</div>
    <div *ngIf="isTabSelected(3)"> 
      <div *ngFor="let review of reviews">
        <app-review [value]="review"></app-review>
      </div>
      
    </div>

  </div>
