<app-ntt-card>
    <div class="header">Cart View</div>
    <!-- template reference -->
    <div class="body" #cardBody> 
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cartLine of cart$|async;let idx=index">
                    <td>{{idx+1}}</td>
                    <td>{{cartLine.name}}</td>
                    <td>{{cartLine.price.value}}</td>
                    <td>1</td>
                    <td>{{1*cartLine.price.value}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="footer">
     NTT data @ 2023
    </div>

</app-ntt-card>